services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: planejja-api
    ports:
      - "8080:8080"
    volumes:
      - /app/pkg
    env_file:
      - path: ./.env
        required: true
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql-db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: '${DB_NAME}'
      MYSQL_USER: '${DB_USER}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: